name: debugger-action
on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v2
      - name: List packages
        run: |
          apt list --installed > ./list.lst
          echo "$PWD/list.lst"
          ls -la
      - name: Setup Debug Session
        uses: csexton/debugger-action@master
