name: debugger-action
on:
  push:
    branches:
      - test
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: List packages
        run: |
          apt list --installed > ./list.lst
          echo "$PWD/list.lst"
          ls -la
      - name: Setup Debug Session
        uses: csexton/debugger-action@master
